// responsive medium screen //768px
@include media-md{
    .admin-login{
        img{
            width: 20.625rem;
        }
        form{
            div{
                input{
                    padding-top: 1.5rem;
                    border: 4px solid gray;
                }
            }
        }
    }
}

// responsive large screen //1200px
@include media-lg{
}

// responsive large screen //1900px
@include media-xl{
    .admin-login{
        img{
            width: 28.75rem;
        }
        form{
            div{
                input{
                    padding-top: 2rem;
                    
                }
            }
        }
    }
}