// font size variables
$font-size-s: (
    "h1" : 1.5rem, //24px
    "h2" : 1.25rem, //20px
    "normal-1" : 1rem,  //16px
    "normal-2" : 0.75rem //12px 
);
$font-size-m: (
    "h1" : 1.75rem, //28px
    "h2" : 1.5rem, //24px
    "normal-1" : 1.25rem, //20px
    "normal-2" : 1rem //16px
);
$font-size-l: (
    "h1" : 2rem, //32px
    "h2" : 1.75rem, //28px
    "normal-1" : 1.5rem, //24px
    "normal-2" : 1.25rem //20px
);
$font-size-xl: (
    "h1" : 2.25rem, //36px
    "h2" : 2rem, //32px
    "normal-1" : 1.75rem, //28px
    "normal-2" : 1.5rem //24px
);

// max width variables
$max-width: (
    "s": 20rem,
    "m": 40rem,
    "l": 60rem,
    "xl": 80rem,
    "login-s": 15rem,
    "login-m": 20rem,
    "login-l": 25rem,
    "login-xl": 30rem,
);

// colors
$colors: (
    "primary" : #F7F7F7,
    "secondary" : #222B34,
    "active" : #165063,
    "active-light": #1C6881,
    "not-active": #222B34
);

// box shadow
$little-shadow: 0 0 6px #00000020;
