.post-method{
    position: relative;
    @include setFlex(row, flex-end, center);
    width: 100%;
    background: getColors(active);
    padding: .8rem 1rem;

    button{
        text-transform: capitalize;
        letter-spacing: 1px;
        padding: .4rem 1rem;
        border-radius: 2rem;
        outline: none;
        border: none;
        background: getColors(active-light);
        color: getColors(primary);
        font-weight: 600;
        margin-right: 1rem;
        transition: all .3s;
        &:disabled{
            background: white;   
            color: black !important; 
        }

        @media(hover:hover){
            &:hover{
                color: getColors(not-active);
            }
        }
    }
}
@import './PostMethodResponsive';